<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{indexController.pageTitle}</title>
    </h:head>
    <h:body>
        <h1>Movie List</h1>
        <ul id="movieList" >
            <!-- For each movie in movies ArrayList... -->
            <ui:repeat value="#{movieApplication.movies}" var="movie" varStatus="status" >
                <li>
                <!-- Iterate it -->
                <h:link value="#{movieApplication.movies.get(status.index).title}" outcome="movie"
               >
                    <!--
                    This param is adding a GET variable index to associate
                    a movie id with hyperlink.
                    -->
                    <f:param name="movieID" value="#{status.index + 1}"></f:param>
                </h:link>
                </li>
            </ui:repeat>
        </ul>
    </h:body>
</html>

